@use "sass:color";

$primary: #177cff;

* {
  padding: 0;
  margin: 0;
  font: normal normal normal 12px 'Noto Sans', 'Inter', 'san-serif', 'monospace';
  box-sizing: border-box;
}

.row { display: flex; flex-direction: row; }
.col { display: flex; flex-direction: column; }

.row-right { margin-left: auto }
.row.center { align-items: center }
.col.cener { justify-content: center }
.expand { flex-grow: 1 }

.m0  { margin:   4px }
.m1  { margin:   6px }
.m2  { margin:   8px }
.m3  { margin:  12px }
.m4  { margin:  16px }
.m5  { margin:  24px }
.m6  { margin:  32px }
.m7  { margin:  48px }
.m8  { margin:  64px }
.m9  { margin:  72px }
.m10 { margin: 128px }

.p0  { padding:   4px }
.p1  { padding:   6px }
.p2  { padding:   8px }
.p3  { padding:  12px }
.p4  { padding:  16px }
.p5  { padding:  24px }
.p6  { padding:  32px }
.p7  { padding:  48px }
.p8  { padding:  64px }
.p9  { padding:  72px }
.p10 { padding: 128px }

.g0  { gap:   4px }
.g1  { gap:   6px }
.g2  { gap:   8px }
.g3  { gap:  12px }
.g4  { gap:  16px }
.g5  { gap:  24px }
.g6  { gap:  32px }
.g7  { gap:  48px }
.g8  { gap:  64px }
.g9  { gap:  72px }
.g10 { gap: 128px }

html {
  background: #c7f4ff;
  height: 100%;
}

body {
  margin: auto;
  width: 640px;
  background: white;
  height: 100%;
  margin-top: 32px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

textarea {
  resize: vertical;
  background: white;
  border: 1px solid rgba(0,0,0, 0.3);
  border-radius: 4px;
  box-shadow: inset 0px 0px 1px 0px rgba(0,0,0, 0.1);

  &:focus {
    outline: 2px solid transparentize($primary, 0.8);

    &.error {
      outline-color: transparentize(red, 0.8);
    }
  }

  &.error {
    border-color: red;
  }
}

.bubble {
  background: linear-gradient(#ffffff, #f1f1f1);
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  box-shadow:
    0px 2px 2px 0px rgba(0,0,0, 0.05);

  &::before {
    content: "";
    display: block;
    position: absolute;
    background: transparent;
    border: 10px solid transparent;
    border-right-color: #c4c4c4;
    transform: translateX(-26px);
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    background: transparent;
    border: 9px solid transparent;
    border-right-color: #fafafa;
    transform: translate(-24px, 1px);
  }
}

.created {
  font-size: 10px;
  color: #5c5c5c;
}

.form-page {
  background: rgb(250, 250, 250);
  border-radius: 4px;
  border: 1px solid rgba(0,0,0, 0.1);
  box-shadow:
    inset 0px 1px 0px 0px rgba(255,255,255, 0.5);
}

button.primary {
  $bg: $primary;
  padding: 2px 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: $bg;
  border-radius: 4px;
  color: white;
  box-shadow:
    0px 2px 4px 0px rgba(0,0,0, 0.1),
    inset 0px 1px 0px 0px rgba(255,255,255, 0.5),
    inset 0px -8px 8px 0px rgba(0,0,0, 0.1);
  
    &:hover {
      background: color.scale($bg, $lightness: 10%);
    }

    &:active {
      background: color.scale($bg, $lightness: -10%);
      box-shadow: none;
    }
}

.textarea-error {
  color: red;
  font-size: 10px;
}
